.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('background.jpeg'); /* Specify the correct path to your image */
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Adjust the background position as needed */
}
.register-page::before {
  content: 'PennyPilot';
  position: absolute;
  background-color: rgb(34, 29, 29); /* Semi-transparent white background */
  padding: 12px; /* Add padding for better readability */
  border-radius: 10px; /* Add rounded corners */
  top: 40px;
  left: 50px;
  font-size: 40px;
  font-weight: bold;
  color:rgb(255, 255, 255); /* Adjust the color as needed */
  font-family: 'Arial', sans-serif; /* Change the font family */
  letter-spacing: 1px; /* Adjust letter spacing */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  
}
.register-form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  width: 30%;
}

.register-form h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #b87333;
}

.register-form a {
  color: #b87333 !important;
}

.register-form a:hover {
  color: black !important;
}

.register-form button {
  background-color: #b87333;
  color: white;
}

.register-form input:focus {
  border: 1px solid #b87333 !important;
  color: #b87333;
}
.register-form button:hover {
  background-color: black;
  color: white;
}
